---
import FranceSection from '../components/FranceSection.astro';
import MusicSection from '../components/MusicSection.astro';
import DeveloperSection from '../components/DeveloperSection.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Publicity">
	<main>
		<body>
			<FranceSection />
			<MusicSection />
			<DeveloperSection />
			
			<Footer />
			
		</body>
	</main>
</Layout>

<!-- <style>
	
</style> -->
