---
import FranceSection from '../components/FranceSection.astro';
import MusicSection from '../components/MusicSection.astro';



import Layout from '../layouts/Layout.astro';

---

<Layout title="Publicity.">
	<main>
		<body>
			<FranceSection />
			<MusicSection />
			<!-- <Test />			 -->
		</body>
	</main>
</Layout>

<style>
	
</style>
