---
import FranceSection from '../components/FranceSection.astro';

import Layout from '../layouts/Layout.astro';

---

<Layout title="Publicity.">
	<main>
		<body>
			<FranceSection />
		</body>
	</main>
</Layout>

<style>
	
</style>
