---
import { Image } from 'astro:assets';
---
<section>
    <div class="text">
        <!-- <h1>Expertos en Publicidad y Marketing Digital</h1> -->
        <div class="wrapper">
          <div class="typing-demo">
            Expertos en Publicidad y Marketing Digital.
          </div>
      <!-- </div>
        <p>¿Estás listo para llevar tu negocio al siguiente nivel?</p>
      
    </div> -->
    <div class="image">
        <Image	
        src="/france.png" alt="Eiffel Tower" width="300" height="500" loading="eager"/>
    </div>
    
</section>

<style>
/* demo */
.wrapper {
    margin-top: 80px;
  
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 43ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
/* fin demo */

    section {
		
		display: flex;		
		justify-content: space-evenly;
		align-items: center;
		min-height: 100vh;
		flex-wrap: wrap;
    height: 100vh;
    
		
	} 

	.text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image {		
		justify-content: center;
		align-items: center;
	}

/* hover effect */


h1 {
  
  position: relative;
  text-decoration: none;
}

h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

h1:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
	

</style>