---
import Card from "./Card.astro"
---
<!-- 
    <div class="image">
        <Image	
        src="/france.png" alt="Eiffel Tower" width="300" height="500" loading="eager"/>
    </div>
-->

<section >     
        <h1>Música profesional para cualquier proyecto</h1>
        <Card />
        
</section>

<style>

    h1 {
        color: #333;
        font-size: 2rem;
        text-align: center;  
        min-height: 20vh;    
    }
</style>