---
import Card from "./Card.astro"
---
<!-- 
    <div class="image">
        <Image	
        src="/france.png" alt="Eiffel Tower" width="300" height="500" loading="eager"/>
    </div>
-->

<section >     
        <h1>El sonido perfecto para tu marca</h1>
        <Card /> 

        
        
</section>

<style>
    section {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #333;
        height: 100svh;
    }

    h1 {
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;  
        min-height: 15svh;    
    }    

</style>